*{
    margin:0;
padding: 0;
}
:root {
    font-family: "Alice", serif;
 line-height: 150%;
color: #1E1E1E
}

body {
background-size: cover;
}

#page {
    width: 3061px;
    height: 24;
   background-color: #1E1E1E;
   border-radius: 24px;
    margin:  auto 24px;
    box-sizing:border-box;
border : center;
}

img{
    border-radius: 16px;
}

main{
 padding-left:  40px;
}


h1 {
    line-height: 140%;
    font-size: 40px;
    margin-bottom: 30px;
}

h2{
    font-size: 40px;
    margin-top: 24px;
}

h1, h2{
    color: #010633;
font-family: "alice", serif;
}

ul{
 padding-left: 24px;
}

footer {
    color: #1E1E1E;
text-align: center;
}

footer img {
    vertical-align: middle;
}
